<div class="container-fluid" style="margin:0; padding:0;">
<div class="bgImg">
<div class="content" style="margin:0; padding:0;">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-sm-11">
      <div class="authBox">
        <h2  style="margin:2%; margin-bottom:5%;">Register</h2>
        <form (submit)="register()">
          <div class="row">
            <div class="col-6">
              <div class="col-12" style = "margin-top:2%">
                <label>Email</label>
              </div>
              <div class="col-12" style="">
                <input type="text" [(ngModel)]="email" (ngModelChange)="invalidEmail=false;clearTotalValidate();"
                  required placeholder="Enter your email" class = "form-control authInput" name="email">
              </div>
                <div class="col-12" style="">
                  <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidEmail">
                    {{emailMsg}}
                  </div>
                </div>
                <div class="col-12" style = "margin-top:2%">
                  <label>Password</label>
                </div>
                <div class="col-12" style="">
                  <input type="password" [(ngModel)]="password" (ngModelChange)="invalidPassword=false;clearTotalValidate();"
                    required placeholder="Enter your password" class = "form-control authInput" name="password" autocomplete="off">
                </div>
                <div class="col-12" style="">
                  <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidPassword">
                    {{passwordMsg}}
                  </div>
                </div>
                <div class="col-12" style = "margin-top:2%">
                  <label>Re-type password</label>
                </div>
                <div class="col-12" style="">
                  <input type="password" [(ngModel)]="confPassword" (ngModelChange)="invalidConfPassword=false;clearTotalValidate();"
                    required placeholder="Repeat your password" class = "form-control authInput" name="confPassword" autocomplete="off">
                </div>
                <div class="col-12" style="">
                  <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidConfPassword">
                    {{confPasswordMsg}}
                  </div>
                </div>
            </div>
            <div class="col-6">
              <div class="col-12" style = "margin-top:2%">
                <label>First Name</label>
              </div>
              <div class="col-12" style="">
                <input type="text" [(ngModel)]="firstName" (ngModelChange)="invalidFirstName=false;clearTotalValidate();"
                  required placeholder="Input your first name" class = "form-control authInput" name="firstName" >
              </div>
              <div class="col-12" style="">
                <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidFirstName">
                  {{firstNameMsg}}
                </div>
              </div>
              <div class="col-12" style = "margin-top:2%">
                <label>Last Name</label>
              </div>
              <div class="col-12" style="">
                <input type="text" [(ngModel)]="lastName" (ngModelChange)="invalidLastName=false;clearTotalValidate();"
                  required placeholder="Input your last name" class = "form-control authInput" name="lastName">
              </div>
              <div class="col-12" style="">
                <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidLastName">
                  {{lastNameMsg}}
                </div>
              </div>
              <div class="col-12" style = "margin-top:2%">
                <label>Phone number</label>
              </div>
              <div class="col-12" style="">
                <input type="text" [(ngModel)]="phone" (ngModelChange)="invalidPhone=false;clearTotalValidate();"
                  required placeholder="Input your phone number" class = "form-control authInput" name="phone">
              </div>
              <div class="col-12" style="">
                <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidPhone">
                  {{phoneMsg}}
                </div>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center; width:60%;" role="alert" *ngIf="invalidServer">
                {{totalErMsg}}
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn" style="width:30%; background-color:#00A6DF; margin:2%; color:white;">
                Register
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
