<div class="content" style = "margin:0; padding:0; font-family: 'Roboto', sans-serif; min-height:100vh; display: flex; ">
      <div class="filterPanelCol">
        <div class = "filterPanel">
          <button  type="button" class="btn hBut" style="width:100%; height:40px;" (click)="clearAll()">
            Remove all filters
          </button>
          <div class="filterBox">
            <div class="filterBoxTop">
              <div class="filterBoxTopText">
                CATEGORY
              </div>
              <div class="filterBoxTopText clear" (click)="clearCategories(); filtrate()">
                <b>X</b> CLEAR
              </div>
            </div>
            <div class="filterBoxContent" >
                <div class="filterBoxItem"*ngFor="let category of categories;">
                  <input type="checkbox" class="chB" value="{{category.name}}" [(ngModel)]="category.isChecked">
                    {{category.name}}
                </div>
            </div>
          </div>
          <div class="filterBox" style="height:195px;">
            <div class="filterBoxTop">
              <div class="filterBoxTopText">
                SEARCH
              </div>
              <div class="filterBoxTopText clear" (click)="clearSearch(); filtrate()">
                <b>X</b> CLEAR
              </div>
            </div>
            <input type="text" class="form-control src" placeholder="Search..." [(ngModel)]="search">

          </div>
          <div class="filterBox">
            <div class="filterBoxTop">
              <div class="filterBoxTopText">
                PRICE RANGE
              </div>
              <div class="filterBoxTopText clear" (click)="clearPrice(); filtrate()">
                <b>X</b> CLEAR
              </div>
            </div>
            <div class="filterBoxContent">
              <div class="priceRangeCont">
                <input type="number" class="form-control price" [(ngModel)]="minPrice" placeholder="minimum" min="0" (ngModelChange)="clearPriceWarning()">
                &nbsp; — &nbsp;
                <input type="number" class="form-control price" [(ngModel)]="maxPrice" placeholder="maximum" min="0" (ngModelChange)="clearPriceWarning()">
              </div>
              <div class="alert alert-danger" role="alert" style="font-size: 10px; padding: 0; text-align: center; margin: 5px;" *ngIf="negativePrice">
                Price can't be negative!
              </div>
              <div class="alert alert-danger" role="alert" style="font-size: 10px; padding: 0; text-align: center; margin: 5px;" *ngIf="incorrectPrice">
                Minimum price can't be lower than maximum price!
              </div>
            </div>
          </div>
          <div class="filterBoxItem">
            <button  type="button" class="btn pBut" (click) = "filtrate()">
              Filter
            </button>
          </div>
        </div>
      </div>


      <div class="lotList">
        <div class="topList">
          <div class="topListText">
            Results:
          </div>
          <div style="display:flex; align-items: center;">
            <div class="topListText" style="width:100px;">
              Sort by
            </div>
            <div class="input-group mb-3" style="font-size:1vw; margin:0;">
              <select class="custom-select" #t id="inputGroupSelect01" (change) = "sortCol(t.value)">
                <option selected value="Name A">Name (Lower -> Bigger)</option>
                <option value="Name D">Name (Bigger -> Lower)</option>
                <option value="StartPrice A">Start Price (Lower -> Bigger)</option>
                <option value="StartPrice D">Start Price (Bigger -> Lower)</option>
                <option value="Category A">Category (Lower -> Bigger)</option>
                <option value="Category D">Category (Bigger -> Lower)</option>
              </select>
            </div>
          </div>
        </div>

        <div class="allLots">
          <div class="lotBox" *ngFor="let lot of lots;" (click)="viewLot(lot.id)">
            <div class="lotImgBox">
              <div class="imgfit" *ngIf="lot.imgPath!=''" [ngStyle]="{ 'background-image':  'url('+lot.imgPath+')'}">
              </div>
            </div>
            <div class="lotContent">
              <div class="lotText">
                {{lot.name}}
              </div>
              <div class="lotText">
                Category: {{lot.category}}
              </div>
              <div class="lotPrice">
                Current Price: {{lot.startPrice}}
              </div>
              <div class="lotText">
                Description: {{lot.description}}
              </div>
            </div>
          </div>
        </div>

    </div>
</div>
