<div class="container-fluid" style="margin:0; padding:0;">
<div class="bgImg">
<div class="content" style="margin:0; padding:0;">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8 col-md-11">
      <div class="authBox">
        <h2  style="margin:2%; margin-bottom:5%;">Edit lot</h2>
        <form (submit)="saveLot()">
          <div class="row">
            <div class="fieldBox">
              <div class="col-12" style = "margin-top:2%">
                <label>Lot name</label>
              </div>
              <div class="col-12" style="">
                <input type="text" [(ngModel)]="name" (ngModelChange)="invalidName=false;clearTotalValidate();"
                  required placeholder="Enter name of the lot" class = "form-control authInput" name="name">
              </div>
              <div class="col-12" style="">
                <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidName"
                  style = "width:50%;">
                  {{nameMsg}}
                </div>
              </div>
              <div class="col-12" style = "margin-top:2%">
                <label>Category</label>
              </div>
              <div class="col-4">
                <div class="input-group mb-3" style="font-size:1rem; margin:0;">
                  <select class="custom-select" id="categorySelect">
                    <option selected value="Toys">Toys</option>
                    <option value="Electronic devices">Electronic devices</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Decoration">Decoration</option>
                  </select>
                </div>
              </div>
              <div class="col-12" style = "margin-top:2%" >
                <label>Description</label>
              </div>
              <div class="col-12">
                <textarea class="form-control" rows="3" name="message" [(ngModel)]="description" #message='ngModel' (ngModelChange)="invalidDescr=false; clearTotalValidate();"></textarea>
              </div>
              <div class="col-12" style="">
                <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidDescr">
                  {{descrMsg}}
                </div>
              </div>
            </div>
            <div class="fieldBox">
              <h3>Photo</h3>
              <div class="colBox" style="height:210px;">
                <div class="imgBox">
                  <div class="imgfit" *ngIf="displayPhotoPath!=''" style="background-color:black;" [ngStyle]="{ 'background-image':  'url('+displayPhotoPath+')'}">
                  </div>
                </div>
                <div class="rowBox" style = "margin-left:3%;">
                  <input type="file" [(ngModel)]="photoPath" id="phP" required name="photoPath">
                  <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidPhoto">
                    {{photoMsg}}
                  </div>
                  <div style = "width:100%;">
                    <button type="button" class = "btn photoBtn" accept="image/*" (click)="uploadPhoto();">
                      Upload photo
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="fieldBox">
              <h3>Price & Lot lifetime</h3>
              <div class="col-9">
                <div class="row">
                  <div class="col-6">
                    <div class="col-12" style = "margin-top:2%">
                      <label>Start price</label>
                    </div>
                    <div class="col-12" style="">
                      <input type="number" step = "0.01" [(ngModel)]="startPrice" (ngModelChange)="invalidStartPrice=false;clearTotalValidate();"
                        required placeholder="Input start price of the lot" class = "form-control authInput" name="startPrice" style = "width:80%;">
                    </div>
                    <div class="col-12" style="">
                      <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidStartPrice"
                        style = "width:100%;">
                        {{startPriceMsg}}
                      </div>
                    </div>
                    <div class="col-12" style = "margin-top:2%">
                      <label>Start date</label>
                    </div>
                    <div class="col-12" style="">
                      <input type="date" required class = "form-control authInput" id="startDate" name="startDate" style = "width:80%;"
                        value = "{{startDate}}">
                    </div>
                    <div class="col-12" style="">
                      <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidStartDate"
                        style = "width:80%;">
                        {{startDateMsg}}
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="col-12" style = "margin-top:2%">
                      <label>End price</label>
                    </div>
                    <div class="col-12" style="">
                      <input type="number" step = "0.01" [(ngModel)]="endPrice" (ngModelChange)="invalidEndPrice=false;clearTotalValidate();"
                        required placeholder="Input end price of the lot" class = "form-control authInput" name="endPrice" style = "width:80%;">
                    </div>
                    <div class="col-12" style="">
                      <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidEndPrice"
                        style = "width:100%;">
                        {{endPriceMsg}}
                      </div>
                    </div>
                    <div class="col-12" style = "margin-top:2%">
                      <label>End date</label>
                    </div>
                    <div class="col-12" style="">
                      <input type="date" id = "endDate" required class = "form-control authInput" name="endDate" style = "width:80%;"
                        value = "{{endDate}}">
                    </div>
                    <div class="col-12" style="">
                      <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidEndDate"
                        style = "width:80%;">
                        {{endDateMsg}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
              </div>
            </div>
            <div class="fieldBox">
              <h3>Location</h3>
              <div class="col-12" style = "margin-top:2%">
                <label>Lot location</label>
              </div>
              <div class="col-12" style="">
                <input type="text" [(ngModel)]="location" (ngModelChange)="invalidLocation=false;clearTotalValidate();"
                  required placeholder="Enter location of the lot" class = "form-control authInput" name="location">
              </div>
              <div class="col-12" style="">
                <div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;" role="alert" *ngIf="invalidLocation"
                  style = "width:50%;">
                  {{locationMsg}}
                </div>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
              <button type="submit" class = "btn submitBtn">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
