<div class="content" style = "margin:0; padding:0; font-family: 'Roboto', sans-serif;">
  <div class="container-fluid helloCont d-flex justify-content-center align-items-center">
    <div class="helloTextCont">
      <div class="helloTextTitle">
        The Best Place to<br>Buy and Sell
      </div>
      <div class="helloText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn registerBtn" (click)="gotoRegister()">
          Register
        </button>
      </div>
    </div>
  </div>

  <div class="container-fluid worksCont">
    <div class="worksTextTitle">
      How <b>It Works</b>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="workStageCont">
        <div class="workStageTitle">
          Register
        </div>
        <div class="workStageText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
      <div class="wokStageArr">
        ▶
      </div>
      <div class="workStageCont">
        <div class="workStageTitle">
          Buy or Bid
        </div>
        <div class="workStageText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
      <div class="wokStageArr">
        ▶
      </div>
      <div class="workStageCont">
        <div class="workStageTitle">
          Submit a Bid
        </div>
        <div class="workStageText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
      <div class="wokStageArr">
        ▶
      </div>
      <div class="workStageCont">
        <div class="workStageTitle">
          Win
        </div>
        <div class="workStageText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
  </div>

</div>
