<div class="content" style = "margin:0; padding:0; font-family: 'Roboto', sans-serif;">
  <div class="container-fluid helloCont d-flex justify-content-center align-items-center">
    <div class="helloTextCont">
      <div class="helloTextTitle">
        The Best Place to<br>Buy and Sell
      </div>
      <div class="helloText">
        With us you can easily and quickly sell your stuff.
        <br>Unique bidding approach won't leave anyone indifferent. 
        <br>No unnecessary 'features' and advertisement.
        <br><br>Join now!
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn registerBtn" (click)="gotoRegister()">
          Register
        </button>
      </div>
    </div>
  </div>

  <div class="container-fluid worksCont">
    <div class="worksTextTitle">
      How <b>It Works</b>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="workStageCont">
        <div class="workStageTitle">
          Register
        </div>
        <div class="workStageText">
          <br>
          Only a few simple common steps to start trading.
          <br>Say no to long-term registration and validation! Everything we need to know about you - your name and contact information.
          <br><br><br>
        </div>
      </div>
      <div class="wokStageArr">
        ▶
      </div>
      <div class="workStageCont">
        <div class="workStageTitle">
          Buy or Bid
        </div>
        <div class="workStageText">
          <br>
          If you are a seller, create new lot in less than 5 minutes and it will be quickly appear in the list of all lots. 
          You can view the current status of your lots in your profile.
          <br>As a buyer you can bid to any lot you like on its view page.
          <br>
        </div>
      </div>
      <div class="wokStageArr">
        ▶
      </div>
      <div class="workStageCont">
        <div class="workStageTitle">
          Submit a Bid
        </div>
        <div class="workStageText">
          <br>
          You can make a bid in one click - just enter your price and confirm it. Now you need wait until lot's trading time is over.
          <br><br><br><br><br>
        </div>
      </div>
      <div class="wokStageArr">
        ▶
      </div>
      <div class="workStageCont">
        <div class="workStageTitle">
          Win
        </div>
        <div class="workStageText">
          <br>
          Congratulations!
          <br>No one has made a bid bigger than your and you won the lot.
          <br>Now the seller will contact you to discuss details.
          <br><br><br><br>
        </div>
      </div>
    </div>
  </div>

</div>
