<div id="wrap">
<header>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-1 d-none d-lg-block">
        <div class="headerMenu">
          <a routerLink=""><img src="assets/imgs/logo.jpg" alt="Logo" style="width:3.5vw; height:3.5vw; border-radius:1vw; border: 3px solid #334B49;"></a>
        </div>
      </div>
      <div class="col-md-11 col-sm-12">
        <div class="row">
          <div class="col-md-1 col-sm-12 d-flex flex-column justify-content-center">
            <div class="headerMenu">
              <a class="header" routerLink="/userpanel">User panel</a>
            </div>
          </div>
          <div class = "col-md-1 col-sm-12 d-flex flex-column justify-content-center">
            <div class="headerMenu">
              <a class="header" routerLink="/lotpanel">Lot panel</a>
            </div>
          </div>
          <div class = "col">
          </div>
          <div class="col-md-1 col-sm-12 d-flex flex-column justify-content-center">
            <a class="headerLogin" routerLink="/login">Log in / Sign up</a>
          </div>
          <div class="col-md-1 col-sm-12 d-flex flex-column justify-content-center">
            <div class="headerMenu">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Menu
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="/userpanel">User panel</a>
                  <a class="dropdown-item" routerLink="/lotpanel">Lot panel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<router-outlet></router-outlet>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class = "footerText">
          This is very important footer
        </div>
      </div>
      <div class="col">
        <div class = "footerText" style="text-align:center;">
          Here can be
          <br>contacts
        </div>
      </div>
    </div>
  </div>
</footer>

</div>
