<div class="container-fluid">
<div class="content">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-sm-11">
      <div class="authBox">
        <h2 style = "text-align:center;">Login</h2>
        <form (submit)="loginF()">
          <div class="row" style="margin-top:2%;">
            <div class="col-3  d-flex flex-column justify-content-center">
              <label>Логин/е-мейл:</label>
            </div>
            <div class="col-9" style="width:70%;">
              <input type="text" [(ngModel)]="login" (change)="invalidLogin=false;" required placeholder="Введите логин/e-mail" class = "form-control authInput" name="login">
            </div>
            <div class="col-3"></div>
            <div class="col-9" style="width:70%;">
              <div class="alert alert-danger invalidFieldText" role="alert" *ngIf="invalidLogin">
                {{loginMsg}}
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:2%;">
              <div class="col-3  d-flex flex-column justify-content-center">
                <label>Пароль:</label>
              </div>
              <div class="col-9" style="width:70%;">
                <input type="password" [(ngModel)]="password" (change)="invalidPassword=false;" required placeholder="Введите пароль" class = "form-control authInput" name="password">
              </div>
              <div class="col-3"></div>
              <div class="col-9" style="width:70%;">
                <div class="alert alert-danger invalidFieldText" role="alert" *ngIf="invalidPassword">
                  {{passwordMsg}}
                </div>
              </div>
          </div>
          <div class="row" style="margin-top:2%;">
              <div class="col-md-6 col-sm-12  d-flex flex-column justify-content-center">
                Don't have account?<div><a routerLink="/register">Register</a></div>
              </div>
              <div class="col-md-6 col-sm-12 d-flex flex-row-reverse" style="width:70%;">
                <button type="submit" class="btn btn-info" style="width:50%;">
                  Login
                </button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
