.editLabel {
  font-size: 15px;
}

input.editInput {
  background: #E5E5E5;
  font-size: 12px;
  border-radius: 10px;
  border-style: none;
  height: 30px;
  width: 80%;
}

div {
  border-style: none;
  border-color: coral;
  border-width: 1px;
}

button.btn {
  color: #FFFFFF;
}

button.btn-upload {
  width: 20%;
  background-color: #008DDF;
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 2%;
}

button.btn-submit {
  width: 30%;
  background-color: #F37121;
  border-radius: 10px;
  margin-top: 4%;
  margin-left: 1%;
}

button.btn-save-changes {
  width: 10%;
  background-color: #F37121;
  border-radius: 10px;
  margin-top: 1%;
}

button.btn-delete {
  background-color: #FF5555;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 2%;
}

.imgBox {
  width: 6vw;
  height: 6vw;
  border-radius: 30px;
  margin-top: 1%;
  margin-left: 2%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.imgfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: no-repeat center;
  background-size: cover;
  border-radius: 30px;
}

.accountSettings {
  display: flex;
  margin-top: 1%;
  height: 80px;
  width: 40%;
}

.push {
  margin-left: auto;
}

.form-field label {
  margin-top: 1%;
  font-size: 18px;
  color: #0d0c22;
  font-weight: 600;
  display: block;
}

.form-field input {
  background: #E5E5E5;
  font-size: 12px;
  border-radius: 10px;
  border-style: none;
  height: 30px;
  width: 20%;
}

.accountSettingsForm {
  margin-left: 2%;
}

h2.section {
  margin-bottom: 15px;
  padding-bottom: 10px;
  overflow: hidden;
  border-bottom: 3px solid #ddd;
  color: #0d0c22;
  width: 20%;
  align-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.changePassword {
  margin-top: 1%;
  margin-left: 1%;
}

.oldPasswordInput {
  background: #E5E5E5;
  border-style: none;
  min-height: 30px;
  width: 90%;
  border-radius: 10px;
}

.newPasswordInput {
  background: #E5E5E5;
  border-style: none;
  min-height: 30px;
  width: 90%;
  border-radius: 10px;
}

button.btn-change {
  width: 40%;
  background-color: #FF5555;
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 1%;
}

.invalidPasswordText {
  padding: 1%;
  text-align: center;
  width: 90%;
}

.invalidEmailText {
  padding: 1%;
  text-align: center;
  width: 20%;
}

.invalidFirstNameText {
  padding: 1%;
  text-align: center;
  width: 80%;
}

.invalidLastNameText {
  padding: 1%;
  text-align: center;
  width: 80%;
}

.invalidPhoneText {
  padding: 1%;
  text-align: center;
  width: 80%;
}

.lotPanelContainer{
  width: 100%;
  padding: 1%;
}

table.lotTable{
  width: 90%;
}

tr.lotTitle{
  border-bottom: 2px black solid;
  background-color: #DFE0DF;
}
td.lotTdTitle:hover,td.lotName:hover{
  text-decoration: underline;
}


.popupLot{
  width: 1000px;
}

.fillUp{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height:100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .1)
}

.lotBoxView{
  background-color:#d4f7ff;
  border-radius: 0.5vw;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 2px solid #bff3ff;
  max-height: 700px;
  overflow-y: auto;
}

input.authInput{
  width: 50%;
}
.bgImg{
  background: url("/assets/imgs/home-bg-blurred.jpg");
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.fieldBox{
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-top: black solid 1px;
}
.fieldBoxTitle{
  font-size: 10px;
}

.imgBox{
  height: 200px;
  width: 200px;
  background-color: lightgrey;
}
.colBox{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rowBox{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.photoBtn{
  background-color: #00B2B8;
  color: white;
}
h3{
  margin:2%;
  margin-bottom:5%;
}

.submitBtn{
  width:30%;
  background-color:#00A6DF;
  margin:2%;
  color:white;
  margin-top:50px;
}
.deleteBtn{
  width:30%;
  background-color:#DD514D;
  margin:2%;
  color:white;
  margin-top:50px;
}
.imgfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: no-repeat center;
  background-size: cover;
}
.allLots{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.lotBox{
  border: 1px black solid;
  border-radius: 10px;
  height: 250px;
  width: 150px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
}

.lotBox:hover{
  border: 2px black dashed;
}

.imgfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: no-repeat center;
  background-size: cover;
}
.lotImgBox{
  background-color: lightgrey;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  border-bottom: black 1px solid;
  width: 100%;
  height: 150px;
  text-align: center;
}
.lotContent{
  padding: 2%;
}
.lotText{
  font-size: 13px;
  font-weight: bold;
}
.lotPrice{
  font-size: 10px;
  color: grey;
  margin-bottom: 20px;
}
.lotRatingBox{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 10px;
  color: grey;
  display: flex;
  justify-content: space-between;
}
.lotList{
  padding: 1%;
  width: 100%;
}

.topList{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: lightgrey solid 1px;
}

.topListText{
  font-size: 1vw;
}

button.write-btn{
  background-color:#E2B08A;
  color:black;
}

button.write-btn:hover{
  background-color: #BEA46C;
}
