<!-- <p>profile works!</p>

<a routerLink="/manage-lotpanel">Lots manage page</a>

<button (click) = "logout()">Logout</button> -->

<mat-tab-group animationDuration="0ms">
	<mat-tab label="Edit profile">
		<ng-template matTabContent>
			<form (submit)="updateInfo()" class="d-flex flex-row">
				<div class="p-3">
					<div class="imgBox">
						<div class="imgfit" *ngIf="displayPhotoPath!=''" style="background-color:black;"
							[ngStyle]="{ 'background-image':  'url('+displayPhotoPath+')'}">
						</div>
					</div>
				</div>
				<div class="d-flex flex-column" style="width:50vw; height:45vw;">
					<div class="p-2">
						<input type="file" [(ngModel)]="avatarPath" id="avatar" required name="avatarPath"
							style=" margin-top:3%; margin-left:3%;">
						<div class="alert alert-danger invalidFieldText" style="padding:1%; text-align:center;"
							role="alert" *ngIf="invalidPhoto">
							{{photoMsg}}
						</div>
					</div>
					<div class="p-2">
						<button type="button" class="btn btn-upload" accept="image/*" (click)="uploadAvatar();">
							Upload
						</button>
					</div>
					<div class="d-flex flex-column" style="width:50vw; margin-top: 3%;">
						<div class="d-flex flex-row">
							<div class="col-6">
								<div class="col-12">
									<label class="editLabel">First name</label>
								</div>
								<div class="col-12">
									<input type="text" [(ngModel)]="firstName" (ngModelChange)="clearInfoValidate();"
										class="editInput" name="firstName">
									<div class="alert alert-danger invalidFirstNameText" role="alert"
										*ngIf="invalidFirstName">
										{{firstNameMsg}}
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="col-12">
									<label class="editLabel">Last name</label>
								</div>
								<div class="col-12">
									<input type="text" [(ngModel)]="lastName" (ngModelChange)="clearInfoValidate()"
										class="editInput" name="lastName">
									<div class="alert alert-danger invalidLastNameText" role="alert"
										*ngIf="invalidLastName">
										{{lastNameMsg}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex flex-row">
						<div class="col-6" style="width: 50%; margin-top: 4%;">
							<div class="col-12">
								<label class="editLabel">Phone number</label>
							</div>
							<div class="col-12">
								<input type="text" [(ngModel)]="phone" (ngModelChange)="clearInfoValidate();"
									class="editInput" name="Phone number">
								<div class="alert alert-danger invalidPhoneText" role="alert" *ngIf="invalidPhone">
									{{phoneMsg}}
								</div>
							</div>

						</div>
					</div>
					<div class="col-12" style="max-height: 20%;">
						<button type="submit" class="btn btn-submit">
							Save profile
						</button>
					</div>
				</div>
			</form>
		</ng-template>
	</mat-tab>
	<mat-tab label="Account settings">
		<ng-template matTabContent>
			<form (submit)="updateEmail()" class="accountSettingsForm">
				<div class="form-field">
					<label for="form-field">Email</label>
					<input type="email" [(ngModel)]="newEmail" (ngModelChange)="clearEmailValidate();"
						class="emailInput" name="newEmail">
					<div class="alert alert-danger invalidEmailText" role="alert" *ngIf="invalidEmail">
						{{emailMsg}}
					</div>
				</div>
				<h2 class="section" style="border: 3 px solid #ddd;"></h2>
				<div class="accountSettings">
					<div>
						<h1>Close account</h1>
						<h6>Delete your account and account data</h6>
					</div>
					<div class="push">
						<button class="btn btn-delete">
							Close account
						</button>
					</div>
				</div>
				<div class="form-btns">
					<button type="submit" class="btn btn-save-changes">
						Save changes
					</button>
				</div>
			</form>
		</ng-template>
	</mat-tab>
	<mat-tab label="Password">
		<ng-template matTabContent>
			<form (submit)="updatePassword()" class="changePassword">
				<div class="col-3">
					<h5>Old password</h5>
				</div>
				<div class="col-3">
					<input type="password" [(ngModel)]="oldPassword" (ngModelChange)="clearPasswordValidate();"
						class="oldPasswordInput" name="oldPassword">
				</div>
				<div class="col-3">
					<div class="alert alert-danger invalidPasswordText" role="alert" *ngIf="invalidOldPassword">
						{{oldPasswordMsg}}
					</div>
				</div>

				<div class="col-3" style="margin-top: 1%;">
					<h5>Password</h5>
				</div>
				<div class="col-3">
					<input type="password" [(ngModel)]="newPassword" (ngModelChange)="clearPasswordValidate();"
						class="newPasswordInput" name="newPassword">
				</div>
				<div class="col-3">
					<div class="alert alert-danger invalidPasswordText" role="alert" *ngIf="invalidNewPassword">
						{{newPasswordMsg}}
					</div>
				</div>
				<div class="col-3">
					<button type="submit" class="btn btn-change">
						Change
					</button>
				</div>
			</form>
		</ng-template>
	</mat-tab>
	<mat-tab label="My lots"> Tab Panel 3 </mat-tab>
	<mat-tab label="My bids"> Tab Panel 4 </mat-tab>
	<mat-tab label="My revievs"> Tab Panel 4 </mat-tab>
	<mat-tab label="Message center"></mat-tab>
</mat-tab-group>