.editLabel {
  font-size: 15px;
}

input.editInput {
  background: #E5E5E5;
  font-size: 12px;
  border-radius: 10px;
  border-style: none;
  height: 30px;
  width: 80%;
}

/*div {
  border-style: none;
  border-color: coral;
  border-width: 1px;
}*/

button.btn {
  color: #FFFFFF;
}

button.btn-upload {
  width: 20%;
  background-color: #008DDF;
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 2%;
}

button.btn-submit {
  width: 30%;
  background-color: #F37121;
  border-radius: 10px;
  margin-top: 4%;
  margin-left: 1%;
}

button.btn-save-changes {
  width: 10%;
  background-color: #F37121;
  border-radius: 10px;
  margin-top: 1%;
}

button.btn-delete {
  background-color: #FF5555;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 2%;
}

.imgBox {
  width: 6vw;
  height: 6vw;
  border-radius: 30px;
  margin-top: 1%;
  margin-left: 2%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.imgfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: no-repeat center;
  background-size: cover;
  border-radius: 30px;
}

.accountSettings {
  display: flex;
  margin-top: 1%;
  height: 80px;
  width: 40%;
}

.push {
  margin-left: auto;
}

.form-field label {
  margin-top: 1%;
  font-size: 18px;
  color: #0d0c22;
  font-weight: 600;
  display: block;
}

.form-field input {
  background: #E5E5E5;
  font-size: 12px;
  border-radius: 10px;
  border-style: none;
  height: 30px;
  width: 20%;
}

.accountSettingsForm {
  margin-left: 2%;
}

h2.section {
  margin-bottom: 15px;
  padding-bottom: 10px;
  overflow: hidden;
  border-bottom: 3px solid #ddd;
  color: #0d0c22;
  width: 20%;
  align-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.changePassword {
  margin-top: 1%;
  margin-left: 1%;
}

.oldPasswordInput {
  background: #E5E5E5;
  border-style: none;
  min-height: 30px;
  width: 90%;
  border-radius: 10px;
}

.newPasswordInput {
  background: #E5E5E5;
  border-style: none;
  min-height: 30px;
  width: 90%;
  border-radius: 10px;
}

button.btn-change {
  width: 40%;
  background-color: #FF5555;
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 1%;
}

.invalidPasswordText {
  padding: 1%;
  text-align: center;
  width: 90%;
}

.invalidEmailText {
  padding: 1%;
  text-align: center;
  width: 20%;
}

.invalidFirstNameText {
  padding: 1%;
  text-align: center;
  width: 80%;
}

.invalidLastNameText {
  padding: 1%;
  text-align: center;
  width: 80%;
}

.invalidPhoneText {
  padding: 1%;
  text-align: center;
  width: 80%;
}

/*
  Message Center
*/

.container {
  max-height: 1000px;
  margin-left: 0%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.heading_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.channel_heading h4 {
  color: black;
  font-size: 21px;
  margin: auto;
  user-select: none;
}

.chat_id {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
  user-select: none;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.channels {
  border-color : #f8f8f8;
}


.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}


.received_with_msg {
  width: 57%;
}

.received_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.received_with_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
}

.message {
  list-style-type: none;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.outgoing_with_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing_with_msg {
  float: right;
  width: 46%;
}

.msgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  position: absolute;
  right: 0;
  top: 18%;
  height: 34px;
  width: 34px;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium solid;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 90%;
}
/*
  Message Center
*/

.lotPanelContainer{
  width: 100%;
  padding: 1%;
}

table.lotTable{
  width: 90%;
}

tr.lotTitle{
  border-bottom: 2px black solid;
  background-color: #DFE0DF;
}
td.lotTdTitle:hover,td.lotName:hover{
  text-decoration: underline;
}


.popupLot{
  width: 1000px;
}

.fillUp{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height:100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .1)
}

.lotBoxView{
  background-color:#d4f7ff;
  border-radius: 0.5vw;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 2px solid #bff3ff;
  max-height: 700px;
  overflow-y: auto;
}

input.authInput{
  width: 50%;
}
.bgImg{
  background: url("/assets/imgs/home-bg-blurred.jpg");
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.fieldBox{
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-top: black solid 1px;
}
.fieldBoxTitle{
  font-size: 10px;
}

.imgBox{
  height: 200px;
  width: 200px;
  background-color: lightgrey;
}
.colBox{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rowBox{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.photoBtn{
  background-color: #00B2B8;
  color: white;
}
h3{
  margin:2%;
  margin-bottom:5%;
}

.submitBtn{
  width:30%;
  background-color:#00A6DF;
  margin:2%;
  color:white;
  margin-top:50px;
}
.deleteBtn{
  width:30%;
  background-color:#DD514D;
  margin:2%;
  color:white;
  margin-top:50px;
}
.imgfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: no-repeat center;
  background-size: cover;
}
.allLots{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.lotBox{
  border: 1px black solid;
  border-radius: 10px;
  height: 250px;
  width: 150px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
}

.lotBox:hover{
  border: 2px black dashed;
}

.imgfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: no-repeat center;
  background-size: cover;
}
.lotImgBox{
  background-color: lightgrey;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  border-bottom: black 1px solid;
  width: 100%;
  height: 150px;
  text-align: center;
}
.lotContent{
  padding: 2%;
}
.lotText{
  font-size: 13px;
  font-weight: bold;
}
.lotPrice{
  font-size: 10px;
  color: grey;
  margin-bottom: 20px;
}
.lotRatingBox{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 10px;
  color: grey;
  display: flex;
  justify-content: space-between;
}
.lotList{
  padding: 1%;
  width: 100%;
}

.topList{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: lightgrey solid 1px;
}

.topListText{
  font-size: 1vw;
}

button.write-btn{
  background-color:#E2B08A;
  color:black;
}

button.write-btn:hover{
  background-color: #BEA46C;
}
