/* You can add global styles to this file, and also import other style files */

.content{
  margin: 2%;
  padding: 1%;
}

.authBox{
  background-color: #C0FCF7;
  border-radius: 0.5vw;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

input.authInput{
  width: 100%;
}
