/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.content{
  margin: 2%;
  padding: 1%;
}

.invalidFieldText{
  font-size: 0.7em;
}

body{
  font-size: 0.85em;
}

.autoWidth{
  width: auto;
}
p{
  margin: 0;
}
html, body{
   font-family: 'Roboto', sans-serif;
}
